{% extends 'app/pages/base.html' %}

{% block title %}About Kids All In{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About Kids All In
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        Kids All In believes that with the Covid-19 vaccine out and available to teachers it's time to get our kids back in school full-time, in-person, K-12.  Teachers were prioritized for vaccination precisely so that the kids could get back into the classroom; we need to support that decision.
      </p>
    </div>
  </section>
{% endblock content %}
