{% extends 'app/pages/base.html' %}

{% block title %}About{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About Us
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        With priority-vaccination for teachers scheduled to be complete January 31, it's time to get the <strong>Kids All In</strong> school.  Our objective is Full-Time, In-Person, K-12 instruction by <strong>Monday, March 1</strong>.
      </p>
      <p>
        To accomplish this goal the District needs your support; we've been living this "new normal" for a long time and change &mdash; even for the better &mdash; is always difficult.  That's why we created this website: to focus our voices and give the Board and Adminstration confidence towards our shared purpose.
      </p>
      <p>
        When you <a href='{% url "join" %}'>Join Us</a> via email, Google or Facebook, you'll become part of our community of parents, teachers and staff who are all-in for the kids.  You can particpate anonymously or publicly, and before every Board meeting we'll produce reports so Trustees can see how far our support extends.
      </p>
      <p>
        We're not asking for donations, we won't share or sell your data, and <em>we have no agenda beyond getting the Kids All In</em>.  You can learn more in our <a href='{% url "faq" %}'>FAQ</a> or ask any other questions at <a href=''>support@kidsallin.com</a>.
    </div>
  </section>
{% endblock content %}
