<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<script src="https://kit.fontawesome.com/1c8c066f08.js" crossorigin="anonymous"></script>
<script src="https://browser.sentry-cdn.com/5.20.1/bundle.min.js" integrity="O8HdAJg1h8RARFowXd2J/r5fIWuinSBtjhwQoPesfVILeXzGpJxvyY/77OaPPXUo" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'app/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('v_MRKZBPgP_TjGr2IjI1HK5oWNLVvWKXKuDlPa5jC8M',{api_host:'https://app.posthog.com'});
    </script>
    {% block customstyles %}
    {% endblock customstyles %}
    {% block formmedia %}
    {% endblock formmedia %}
    <title>Kids All In! {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block topnav %}
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="d-inline-block mr-1" height=85 src="{% static 'app/square_logo.png' %}">
        <div class='float-right align-middle'>
          <h1 style="font-family:Caveat">
            Kids All In!
          </h1>
          <p style="font-family:Caveat">
            <span class='text-success'>Full-Time</span>, <span class='text-info'>In-Person</span>, <span class='text-danger'>K-12</span>
          </p>
        </div>
      </a>
      {% comment %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      {% endcomment %}
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class='nav-item'>
            <a href="{% url 'logout' %}" role='button' class='btn btn-sm btn-light ml-3'>Logout</a>
          </li>
        {% else %}
          <li class='nav-item'>
            <a href="{% url 'login' %}" role='button' class='btn btn-sm btn-outline-primary ml-3'>Login</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endblock topnav %}
    <div id="content" class='container'>
      {% bootstrap_messages %}
      {% block content %}
      {% endblock %}
    </div>
    {% block bottomnav %}
      <nav class="navbar navbar-expand-sm navbar-light">
        <ul class="nav nav-pills mr-auto">
          <li class="nav-item ml-3">
            <a href="{% url 'about' %}"><small>About</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'faq' %}"><small>FAQ</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'privacy' %}"><small>Privacy</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'terms' %}"><small>Terms</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'support' %}"><small>Support</small></a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item ml-3">
              <a href="{% url 'logout' %}"><small class='text-success'>Logout</small></a>
            </li>
          {% else %}
            <li class="nav-item ml-3">
              <a href="{% url 'login' %}"><small class='text-success'>Login</small></a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endblock bottomnav %}

    <br><br><br>

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
