{% extends 'app/pages/base.html' %}

{% block title %}About Kids All In{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Below are answers to some frequently asked questions.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who are you?
      </h5>
      <p class='pl-4 col-lg-8'>
        We're a group of West Ada School District parents and teachers who want to get back in the classroom full-time, in-person, K-12 by March 1.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why now?
      </h5>
      <p class='pl-4 col-lg-8'>
        Teachers were prioritized for vaccination precisely so that the kids could get back into the classroom; we need to support that decision.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Won't moving too soon harm the community?
      </h5>
      <p class='pl-4 col-lg-8'>
        The community of school-aged children is being harmed every day they are out of the classroom; social-emotional learning is harmed, academic progress is harmed, physical health is harmed, mental health is harmed.  And while good people can disagree, we believe the broader community is better served by ensuring a bright future for our children.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        If we move to full-time, in-person, K-12 what about social distancing in the classroom?
      </h5>
      <p class='pl-4 col-lg-8'>
        If the teachers and staff are vaccinated then we're protecting the vulnerable population in the classroom already.  However, we can still maintain social distance even in full-time instruction by simply employing the World Health Organization guideline of 1 meter distance rather than the CDC guideline.  While six-feet is clearly better than 1-meter, it's not at all obvious how much better -- and our children are suffering for three extra feet whose benefit is inconclusive at best.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What are you doing with my personal information?
      </h5>
      <p class='pl-4 col-lg-8'>
        If you join us we'll add you to the private list of supporters which we report on as an aggregate total.  Then, you'll also get the opportunity to make your name public, which we'll report directly along with any (respectful) comments you'd like to share.  Finally, we'll present these reports to the West Ada School Board so that they can see the breadth of parental and teacher support to get kids all in, Full Time, In Person, K-12
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Who is paying for this?
      </h5>
      <p class='pl-4 col-lg-8'>
        This is entirely self-funded.  It isn't a business, and we're not even asking for donations.  We just want the kids all in school, and that's worth more to us that the few dollars it takes to run this website.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why immediately K-12?  Why not start with middle school?
      </h5>
      <p class='pl-4 col-lg-8'>
        If the teachers and staff are vaccinated then we're protecting the vulnerable population in the classroom already; there's no need to make high-school students suffer any more than middle school (or K-5).
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about the current pandemic plan?
      </h5>
      <p class='pl-4 col-lg-8'>
        The current plan was devised for a pre-vaccine world.  Now it's time to adjust to the teacher-vaccination world, and that means getting the Kids All In, Full-Time, In-Person, K-12 by March 1.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about the new strain of Covid going around?
      </h5>
      <p class='pl-4 col-lg-8'>
        Again, if the teachers and staff are vaccinated then we're protecting the vulnerable population in the classroom already.  While we can and must adjust to changing conditions, it's not right to make children suffer known harms today for things that are unknown in the future.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Shouldn't we listen to the experts?
      </h5>
      <p class='pl-4 col-lg-8'>
        Of course!  We're listening to the medical experts, and the mental-health experts, and the academic experts, and the drug abuse experts, and the suicide prevention experts, and the cognitive development experts and every other expert we can.  We want all those opinions so we can make a balanced decision on what's best for our children and the community as a whole.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why March 1?
      </h5>
      <p class='pl-4 col-lg-8'>
        The latest plans indicate that teachers' priority vaccination should be complete by January 31.  This allows a full month for the operational plans to allow full-time, in-person, K-12 instruction no later than March 1.  The kids have waited long enough.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What if I have a question you haven't addressed?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please let us know at <a href='mailto:support@kidsallin.com'>support@kidsallin.com</a> so that we can add it to the FAQ!
      </p>
    </div>
  </section>
{% endblock content %}
