{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}Kids All In!{% endblock title%}


{% block content %}
  <section class='my-3'>
    <div class='jumbotron'>
      <h2>
        We need to get our kids all in school
      </h2>
    </div>
  </section>
  <section class='my-5'>
    <p class='lead'>
      With the vaccine available for teachers we can all support full-time, in-person, K-12 instruction.  Help make that happen by March 1 by joining our movement to get the Kids All In!
    </p>
    <a href='{% url "login" %}' class="btn btn-success btn-block btn-lg">
      Join Us!
    </a>
  </section>


{% endblock content %}
