{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}Full-Time, In-Person, K-12{% endblock title%}
{% block topnav %}{% endblock topnav%}


{% block content %}
  <section class 'mt-5'>
    <div id='id_wistia'>
      <script src="https://fast.wistia.com/embed/medias/v42iv9q80d.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_v42iv9q80d popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>
    <div class='jumbotron'>
      <div class='mb-5'>
        <h2 class='text-center'>
          Let's Get <strong>Kids All In</strong> School!
        </h2>
      </div>
      <div class='mb-5'>
        <p class='lead'>
            {# If you support Full-Time, In-Person, K-12 Instruction you should join our movement! #}
        </p>
      </div>
      <div class='mb-3'>
        <a href='{% url "join" %}' class="btn btn-success btn-block btn-lg">
          Join Us!
        </a>
      </div>
      <div>
        <a class="btn btn-light btn-block btn-lg" data-toggle='collapse' data-target='#learnMoreCollapse' role='button'>
          Learn More
        </a>
      </div>
      <div class="collapse" id="learnMoreCollapse">
        <div class="card card-body mt-3 p-5">
          <p>
            With priority-vaccination for teachers scheduled to be complete January 31, it's time to get the <strong>Kids All In</strong> school.  Our objective is Full-Time, In-Person, K-12 instruction by <strong>Monday, March 1</strong>.
          </p>
          <p>
            To accomplish this goal the District needs your support; we've been living this "new normal" for a long time and change &mdash; even for the better &mdash; is always difficult.  That's why we created this website: to focus our voices and give the Board and Adminstration confidence towards our shared purpose.
          </p>
          <p>
            When you <a href='{% url "join" %}'>Join Us</a> via email, Google or Facebook, you'll become part of our community of parents, teachers and staff who are all-in for the kids.  You can participate anonymously or publicly, and before every Board meeting we'll produce reports so Trustees can see how far our support extends.
          </p>
          <p>
            We're not asking for donations, we won't share or sell your data, and <em>we have no agenda beyond getting the Kids All In</em>.  You can learn more in our <a href='{% url "faq" %}'>FAQ</a> or ask any other questions at <a href=''>support@kidsallin.com</a>.
          </p>
          <p>
            <strong>Be All In for the Kids!</strong>
          </p>
          <br>
          <p class='mb-5'>
            P.S. <a href='{% url "join" %}'>Join Us</a> right now because schools won't open full-time unless you take action!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class='mt-5'>
    <div class="card">
      <h5 class="card-header">Community Members</h5>
      <div class="card-body">
        <h5 class="card-title">Our movement currently has {{total}} members who support Full-Time, In-Person, K-12 learning by March 1.</h5>
        <p>Of the {{total}}, here are those who have elected to share their names publicly:</p>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              <tr>
                <td>{{account.name}}</td>
                <td>{{account.comments}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock content %}
