{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}{% endblock title%}
{% block topnav %}{% endblock topnav%}


{% block content %}
  <section>
    <div id='id_wistia'>
      <script src="https://fast.wistia.com/embed/medias/v42iv9q80d.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_v42iv9q80d popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>
    <div class='jumbotron'>
      <div class='mb-5'>
        <h2>
          Let's Get <strong>Kids All In</strong> School!
        </h2>
      </div>
      <div class='mb-5'>
        <p class='lead'>
            {# If you support Full-Time, In-Person, K-12 Instruction you should join our movement! #}
        </p>
      </div>
      <div class='mb-3'>
        <a href='{% url "join" %}' class="btn btn-success btn-block btn-lg">
          Join Us!
        </a>
      </div>
      <div>
        <a href='{% url "faq" %}' class="btn btn-light btn-block btn-lg">
          Learn More
        </a>
      </div>
    </div>
  </section>
{% endblock content %}
